<table class="table table-sm table-hover font-weight-light" *ngIf="products != undefined">
    <thead class="thead-light">
    <tr>
        <th>Name</th>
        <th class="text-right">Price</th>
        <th class="text-center">On stock</th>
        <th class="text-center">Img</th>
        <th class="text-center">Status</th>
        <th class="text-center">Action</th>
    </tr>
    </thead>
    <tbody *ngIf="products?.length > 0">
    <tr *ngFor="let product of products;">
        <td><a [routerLink]="['/product', product.id]">{{product.name}}</a></td>
        <td class="text-right"><span class="text-info">${{product.price | number:'1.2-2'}}</span></td>
        <td class="text-center">{{product.onStock}}</td>
        <td class="text-center"><img class="img-table" [src]="product.imageUrl" onerror="this.src='assets/nopic.png'"/>
        </td>
        <td class="text-center">{{product.status}}</td>
        <td class="text-center">
            <button (click)="editProduct(product)" class="btn btn-sm btn-outline-info">Edit</button>
            <button (click)="deleteProduct(product)" [class.btn-outline-warning]="product.status == 'Disabled'"
                    [class.btn-outline-danger]="product.status == 'Active'" class="btn btn-sm ml-2">
                <fa-icon [icon]="deleteButtonIcon(product)"></fa-icon>
            </button>
        </td>
    </tr>
    </tbody>
    <tbody *ngIf="products?.length == 0">
    <tr>
        <td class="text-justify" colspan="5">
            <p class="text-muted font-italic text-center">No data</p>
        </td>
    </tr>
    </tbody>
</table>