<div class="row">
  <div class="col-lg-12 pt-4">
    <div class="alert alert-danger" role="alert" *ngIf="message">
      {{ message }}
    </div>
    <button (click)="addUser()" class="btn btn-sm btn-success">Add user</button>
  </div>
</div>

<div class="row pt-2">
  <div class="col-lg-7">
    <app-user-list-table (userEdit)="editUser($event)" [users]="users"></app-user-list-table>
  </div>
  <div class="col-lg-5">
    <app-user-form *ngIf="visibleForm" (completed)="actionCompleted($event)" [user]="user"></app-user-form>
  </div>
</div>