<table class="table table-sm table-hover font-weight-light" *ngIf="purchases != undefined">
    <thead class="thead-light">
    <tr>
        <th>#</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody *ngIf="purchases?.length > 0">
    <tr *ngFor="let purchase of purchases;">
        <td>{{purchase.id}}</td>
        <td>{{purchase.createdAt | date:'dd.MM.yyyy. HH:mm:ss'}}</td>
        <td><span class="text-info">${{calculateAmount(purchase.purchaseItems) | number:'1.2-2'}}</span></td>
        <td>{{purchase.payWay}}</td>
        <td>
            <button (click)="purchaseSelect(purchase)" class="btn btn-sm btn-outline-info">Details</button>
        </td>
    </tr>
    </tbody>
    <tbody *ngIf="purchases?.length == 0">
    <tr>
        <td class="text-justify" colspan="5">
            <p class="text-muted font-italic text-center">No data</p>
        </td>
    </tr>
    </tbody>
</table>