<div class="row pt-4">
    <div class="col-lg-12">
        <table class="table table-sm table-hover table-bordered">
            <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Time</th>
                <th>IP</th>
                <th *ngIf="isAdmin">Username</th>
            </tr>
            </thead>
            <tbody *ngIf="loginHistory.length > 0">
            <tr *ngFor="let item of loginHistory; let i=index;">
                <td>{{i+1}}</td>
                <td>{{item.createdAt | date:'dd.MM.yyyy. HH:mm:ss'}}</td>
                <td>{{item.ip}}</td>
                <td *ngIf="isAdmin">{{item.username}}</td>
            </tr>
            </tbody>
            <tbody  *ngIf="loginHistory.length == 0">
            <tr>
                <td class="text-justify" colspan="4">
                    <p class="text-muted font-italic text-center">No data</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>