<div class="row pt-4">
    <div class="col-sm-6 offset-3">
        <div class="card mb-4">
            <img class="card-img-top img-fluid" onerror="this.src='assets/nopic.png'" [src]="product?.imageUrl"
                 alt="Card image cap">
            <div class="card-body">
                <h6 class="pb-2">
                    <button [disabled]="product?.status == 'Disabled'" (click)="addToCart(product)"
                            class="btn btn-sm btn-success">
                        <fa-icon [icon]="icon"></fa-icon>
                    </button>
                    <span *ngIf="product?.status == 'Disabled'"
                          class="text-danger font-italic"> Product is unavalable</span>
                    <span class="float-right">${{product?.price}}</span></h6>
                <hr>
                <h4 class="card-title">{{product?.name}}</h4>
                <p class="card-text">{{product?.descripion}}</p>
                <p class="card-text">
                    <small class="text-muted float-right">Avalilable {{product?.onStock}}</small>
                    <br>
                    <small class="text-muted float-right">Last change {{product?.updatedAt | date:'dd.MM.yyyy.HH:mm:ss'}}
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>