<div class="row">
    <div class="col-lg-12">
        <h4 class="my-4"></h4>
    </div>
</div>

<div class="row pt-2">
    <div class="col-lg-2">
        <app-category-list [categories]="categories" (selectCategory)="categoryWasSelected($event)"></app-category-list>
    </div>
    <div class="col-lg-10">
        <span *ngFor="let cat of selectedCategories" class="badge badge-info px-2 mr-1 mb-2">{{cat.name}} <a href="javascript:void(0);" (click)="unselectCategory(cat)"><fa-icon class="text-secondary" [icon]="icon"></fa-icon></a> </span>
        <app-product-list [products]="products"></app-product-list>
    </div>
</div>