<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink="">Java 3 WebShop</a>
        <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
                data-target="#navbarsDefault"
                aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" routerLink="">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="profile">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="cart">
                        <fa-icon [icon]="icon"></fa-icon>
                        <span class="badge">{{cart.length}}</span></a>
                </li>
            </ul>
            <ul class=" navbar-nav navbar-right">
                <li class="nav-item" *ngIf="me() && isAdmin">
                    <a class="nav-link" routerLinkActive="active" routerLink="admin">Admin</a>
                </li>
                <li class="nav-item" *ngIf="!me()">
                    <a class="nav-link" routerLinkActive="active" routerLink="login">Login</a>
                </li>
                <li class="nav-item" *ngIf="!me()">
                    <a class="nav-link" routerLinkActive="active" routerLink="register">Register</a>
                </li>
                <li class="nav-item" *ngIf="me()">
                    <a class="nav-link" routerLinkActive="active" routerLink="profile">{{me().name}}</a>
                </li>
                <li class="nav-item" *ngIf="me()">
                    <a class="nav-link" (click)="logout()" routerLink="profile">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>