<form [formGroup]="categoryForm" (ngSubmit)="saveCategory()">
    <div class="form-group">
        <label for="name">Category name</label>
        <input [formControl]="categoryForm.controls['name']" type="text" class="form-control" id="name"
               placeholder="Name">
        <button type="submit" class="btn btn-sm btn-warning mt-2">Save</button>
        <button (click)="deleteCategory()" class="btn btn-sm btn-danger mt-2 ml-2">Delete</button>
    </div>
</form>
