<div class="row">
    <div class="col-lg-4 offset-4">
        <h6 class="my-4">Register</h6>
    </div>
</div>
<div class="row pt-2">
    <div class="col-lg-5">
        <div class="alert alert-danger" role="alert" *ngIf="message">
            {{ message }}
        </div>
    </div>
</div>

<div class="row pt-2">
    <div class="col-lg-6 offset-3">
        <app-user-form></app-user-form>
    </div>
</div>
