<div class="row">
    <div class="col-lg-12">
        <h3 class="my-4">Cart</h3>
    </div>
</div>

<div class="row pt-2">
    <div class="col-lg-5">
        <div class="alert alert-success" role="alert" *ngIf="message">
            {{ message }}
        </div>
    </div>
</div>

<div class="row pt-2">
    <div class="col-lg-10">
        <button (click)="emptyCart()" class="btn btn-sm btn-danger float-right">Empty cart</button>
    </div>
</div>
<div class="row pt-2">
    <div class="col-lg-10">
        <table class="table">
            <thead>
            <tr>
                <th>Remove</th>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of cartItems">
                <td>
                    <button class="btn btn-sm btn-danger" (click)="removeFromCart(item.product)">
                        <fa-icon [icon]="icon"></fa-icon>
                    </button>
                </td>
                <td>{{item.product.name}}</td>
                <td>${{item.product.price | number: '1.2-2'}}</td>
                <td><input type="number" (change)="updateQuantity($event, item)"
                           class="form-control form-control-sm col-md-3" [value]="item.quantity"></td>
                <td>${{item.product.price * item.quantity | number: '1.2-2'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row pt-2">
    <div class="col-lg-10">
        <div class="float-right">
            <small>Total to pay: </small>
            <span class="text-danger">${{grandTotal() | number: '1.2-2'}} </span>
        </div>
    </div>
</div>
<div class="row pt-5">
    <div class="col-lg-10">
        <div class="float-right">
            <button (click)="payWithCash()" class="btn btn-sm btn-info mr-2" [disabled]="me()">Cash
                <fa-icon [icon]="iconCash"></fa-icon>
            </button>
            <button (click)="payWithPayPal()" class="btn btn-sm btn-info" [disabled]="me()">{{payPalText}}
                <fa-icon [spin]="spinPayPal" [icon]="iconCreditCard"></fa-icon>
            </button>

        </div>
    </div>
</div>
<div class="row pt-2" *ngIf="!me2()">
    <div class="col-lg-10">
        <div class="float-right">
            <div class="alert alert-danger" role="alert">
                To continue shopping you must sign in!
            </div>
        </div>
    </div>
</div>