<div class="card-deck">
    <ng-container *ngFor="let product of products; let i = index">
        <div class="card mb-4">
            <img class="card-img-top img-fluid" onerror="this.src='assets/nopic.png'" [src]="product.imageUrl"
                 alt="Card image cap">
            <div class="card-body">
                <h6 class="pb-2">
                    <button (click)="addToCart(product)" class="btn btn-sm btn-success">
                        <fa-icon [icon]="faCoffee"></fa-icon>
                    </button>
                    <button [routerLink]="['/product', product.id]" class="btn btn-sm btn-secondary ml-1"> ... </button>
                    <span class="float-right">${{product.price}}</span></h6>
                <hr>
                <h4 class="card-title">{{product.name}}</h4>
                <p class="card-text">{{product.descripion}}</p>
                <p class="card-text">
                    <small class="text-muted float-right">Avalilable {{product.onStock}}</small>
                    <br>
                    <small class="text-muted float-right">Last change {{product.updatedAt | date:'dd.MM.yyyy. HH:mm:ss'}}</small>
                </p>
            </div>
        </div>
        <div *ngIf="(i+1)%3 == 0" class="w-100 d-none d-sm-block "><!-- wrap every 2 on sm--></div>
    </ng-container>
</div>