<div class="card" *ngIf="purchase">
    <div class="card-header">
        <div>
            <span>
                <span><small>{{purchase.user.name + " "  + purchase.user.surname}}</small></span>
                <span class="float-right text-muted">
                    <small>Invoice ID: <strong>#{{purchase?.id}}</strong></small>
                </span>
            </span><br>

            <span>
                <span><small>{{purchase.user.address}}</small></span>
                <span class="float-right text-muted">
                    <small>Date: <strong>{{purchase?.createdAt | date:'dd.MM.yyyy. HH:mm:ss'}}</strong></small>
                </span>
            </span><br>

            <span>
                <span><small>{{purchase.user.zip + " " + purchase.user.city}}</small></span>
                <span class="float-right text-muted">
                    <small>Payment type: <strong>{{purchase?.payWay}}</strong></small>
                </span>
            </span><br>

            <span>
                <span><small>{{purchase.user.country}}</small></span>
                <span class="float-right text-muted">
                </span>
            </span>

        </div>
    </div>
    <div class="card-body">
        <table class="table table-sm table-hover font-weight-light">
            <thead>
            <tr>
                <th class="text-left">Name</th>
                <th class="text-right">Price</th>
                <th class="text-right">#</th>
                <th class="text-right">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of purchase?.purchaseItems;">
                <td class="text-left"><a [routerLink]="['/product', item.product.id]" class="text-primary">{{item.product.name}}</a></td>
                <td class="text-right">$<span class="text-muted"><strong>{{item.product.price | number:'1.2-2'}}</strong></span></td>
                <td class="text-right">{{item.quantity}}</td>
                <td class="text-right">$<span class="text-muted"><strong>{{item.product.price * item.quantity | number:'1.2-2'}}</strong></span>                </td>
            </tr>
            </tbody>
        </table>
        <hr>
        <h6 class="float-right">Total: <span class="text-danger">${{calculateAmount(purchase?.purchaseItems) | number:'1.2-2'}}</span>
        </h6>
    </div>
</div>