<div class="row">
    <div class="col-lg-12 pt-4">
        <div class="alert alert-danger" role="alert" *ngIf="message">
            {{ message }}
        </div>
        <button (click)="addProduct()" class="btn btn-sm btn-success">Add product</button>
    </div>
</div>

<div class="row pt-2">
    <div class="col-lg-7">
        <app-product-list-table (productDelete)="deleteProduct($event)" (productEdit)="selectProduct($event)" [products]="products"></app-product-list-table>
    </div>
    <div class="col-lg-5">
        <app-product-form *ngIf="visibleForm" (completed)="actionCompleted($event)" [product]="selectedProduct"></app-product-form>
    </div>
</div>