<div class="row">
    <div class="col-lg-4 offset-4">
        <h6 class="my-4">Login</h6>
    </div>
</div>
<div class="row pt-2">
    <div class="col-lg-5">
        <div class="alert alert-danger" role="alert" *ngIf="message">
            {{ message }}
        </div>
    </div>
</div>

<div class="row pt-2">
    <div class="col-lg-4 offset-4">
        <form [formGroup]="loginForm">
            <div class="form-group">
                <label for="username">Username</label>
                <input [formControl]="loginForm.controls['username']" type="text" class="form-control" id="username"
                       placeholder="Username">
                <label for="password">Password</label>
                <input [formControl]="loginForm.controls['password']" type="password" class="form-control" id="password"
                       placeholder="Password">
                <button class="btn btn-sm btn-info mt-2" routerLinkActive="active" routerLink="/register">Register
                </button>


            </div>
        </form>
        <button (click)="login()" class="btn btn-sm btn-success mt-2 float-right">Login</button>
    </div>
</div>
