<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <h5>Enter new product</h5>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-form-label-sm text-right">
            <label for="name">Name</label>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <div class="input-group input-group-sm">
                    <input [formControl]="productForm.controls['name']"
                           type="text" class="form-control" id="name" name="name"
                           placeholder="Huawei watch 1">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-form-label-sm text-right">
            <label for="desc">Description</label>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <div class="input-group">
                    <textarea [formControl]="productForm.controls['desc']" class="form-control" id="desc"
                              rows="3"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-form-label-sm text-right">
            <label for="img">Image url</label>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <div class="input-group">
                    <input [formControl]="productForm.controls['img']"
                           type="text" name="img" class="form-control"
                           id="img" placeholder="http://img.link.com">
                </div>
            </div>
            <img (error)="invalidUrl()" *ngIf="image_link != '' && showImage" class="img-thumbnail mb-3"
                 [src]="image_link"/>
            <p *ngIf="showImgError" class="text-danger">Error loading img!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-form-label-sm text-right">
            <label for="price">Price</label>
        </div>
        <div class="col-md-8">
            <div class="form-group has-danger">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input [formControl]="productForm.controls['price']"
                           type="number" name="price" class="form-control" id="price"
                           placeholder="25.23" step="0.01">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-form-label-sm text-right">
            <label for="onstock">On stock</label>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input [formControl]="productForm.controls['onstock']"
                           type="number" name="onstock" class="form-control"
                           id="onstock" placeholder="35">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-form-label-sm text-right">
            <label for="categories">Categories</label>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <select [formControl]="productForm.controls['categories']"
                            name="categories" class="form-control"
                            id="categories" multiple>
                        <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <button type="submit" [disabled]="!productForm.valid" class="btn btn-sm btn-success float-right">Save
            </button>
        </div>
    </div>
</form>
