<div class="row pt-3">
    <div class="col-lg-12">
        <ngb-tabset>
            <ngb-tab title="Purchase history">
                <ng-template ngbTabContent>
                    <div class="row pt-4">
                        <div class="col-lg-3">
                            <div class="form-group row">
                                <label for="startTimeHistory" class="col-sm-1 col-form-label-sm">Start:</label>
                                <div class="col-sm-10 ml-3">
                                    <angular2-date-picker (onDateSelect)="getPurchases($event)" id="startTimeHistory"
                                                          [(ngModel)]="dateStartHistory"
                                                          [settings]="settings"></angular2-date-picker>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group row">
                                <label for="endTimeHistory" class="col-sm-1 col-form-label-sm">End:</label>
                                <div class="col-sm-10 ml-2">
                                    <angular2-date-picker (onDateSelect)="getPurchases($event)" id="endTimeHistory"
                                                          [(ngModel)]="dateEndHistory"
                                                          [settings]="settings"></angular2-date-picker>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <button (click)="getPurchases($event)" class="btn btn-sm btn-info">Get</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <app-purchase-list (purchaseSelected)="showPurchaseDetails($event)" [purchases]="purchases"
                                               [isAdmin]="false"></app-purchase-list>
                        </div>
                        <div class="col-lg-5 offset-1" *ngIf="purchases?.length > 0">
                            <app-purchase-details [purchase]="selectedPurchase"
                                                  [isAdmin]="false"></app-purchase-details>
                        </div>
                    </div>

                </ng-template>
            </ngb-tab>
            <ngb-tab title="Login history">
                <ng-template ngbTabContent>
                    <div class="row pt-4">
                        <div class="col-lg-3">
                            <div class="form-group row">
                                <label for="startTime" class="col-sm-1 col-form-label">Start:</label>
                                <div class="col-sm-10 ml-3">
                                    <angular2-date-picker (onDateSelect)="onDateSelect($event)" id="startTime"
                                                          [(ngModel)]="dateStart"
                                                          [settings]="settings"></angular2-date-picker>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3">
                            <div class="form-group row">
                                <label for="endTime" class="col-sm-1 col-form-label">End:</label>
                                <div class="col-sm-10 ml-2">
                                    <angular2-date-picker (onDateSelect)="onDateSelect($event)" id="endTime"
                                                          [(ngModel)]="dateEnd"
                                                          [settings]="settings"></angular2-date-picker>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3">
                            <button (click)="onDateSelect($event)" class="btn btn-sm btn-info">Get</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <app-login-history *ngIf="showLoginHistory" [loginHistory]="loginHistory"
                                               [isAdmin]="false"></app-login-history>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Personal details">
                <ng-template ngbTabContent>
                    <h4 class="mt-5 ml-5"># TODO</h4>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>