<div class="row">
    <div class="col-lg-12 pt-2">
        <div class="alert alert-danger" role="alert" *ngIf="message">
            {{ message }}
        </div>
        <button (click)="addCategory()" class="btn btn-sm btn-success">Add category</button>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">

    </div>
</div>
<div class="row pt-2">
    <div class="col-lg-2">
        <app-category-list (selectCategory)="categoryWasSelected($event)" [categories]="categories"></app-category-list>
    </div>
    <div class="col-lg-4">
        <app-category-form *ngIf="visibleForm" (completed)="actionCompleted($event)" [category]="cat"></app-category-form>
    </div>
</div>