<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-4 col-form-label-sm text-right">
            <label for="username">Username</label>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <div class="input-group input-group-sm">
                    <input [formControl]="userForm.controls['username']"
                           type="text" class="form-control" id="username" name="username"
                           placeholder="username">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-form-label-sm text-right">
            <label for="password">Password</label>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <div class="input-group input-group-sm">
                    <input [formControl]="userForm.controls['password']"
                           type="password" class="form-control" id="password" name="password"
                           placeholder="password">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-form-label-sm text-right">
            <label for="email">Email</label>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <div class="input-group input-group-sm">
                    <input [formControl]="userForm.controls['email']"
                           type="text" class="form-control" id="email" name="email"
                           placeholder="email">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-form-label-sm text-right">
            <label for="name">Name</label>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <div class="input-group input-group-sm">
                    <input [formControl]="userForm.controls['name']"
                           type="text" class="form-control" id="name" name="name"
                           placeholder="Name">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-form-label-sm text-right">
            <label for="surname">Surname</label>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <div class="input-group input-group-sm">
                    <input [formControl]="userForm.controls['surname']"
                           type="text" class="form-control" id="surname" name="surname"
                           placeholder="surname">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-form-label-sm text-right">
            <label for="address">Address</label>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <div class="input-group input-group-sm">
                    <input [formControl]="userForm.controls['address']"
                           type="text" class="form-control" id="address" name="address"
                           placeholder="Address">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-form-label-sm text-right">
            <label for="city">City</label>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <div class="input-group input-group-sm">
                    <input [formControl]="userForm.controls['city']"
                           type="text" class="form-control" id="city" name="city"
                           placeholder="City">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-form-label-sm text-right">
            <label for="zip">ZIP</label>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <div class="input-group input-group-sm">
                    <input [formControl]="userForm.controls['zip']"
                           type="text" class="form-control" id="zip" name="zip"
                           placeholder="ZIP">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-form-label-sm text-right">
            <label for="country">Country</label>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <div class="input-group input-group-sm">
                    <input [formControl]="userForm.controls['country']"
                           type="text" class="form-control" id="country" name="country"
                           placeholder="Country">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <button type="submit" [disabled]="!userForm.valid" class="btn btn-sm btn-success float-right">Save
            </button>
        </div>
    </div>
</form>
