<table class="table table-sm table-hover font-weight-light" *ngIf="users != undefined">
    <thead class="thead-light">
    <tr>
        <th class="text-left">Username</th>
        <th class="text-left">Name</th>
        <th class="text-left">Surname</th>
        <th class="text-left">Date</th>
        <th class="text-left">Action</th>
    </tr>
    </thead>
    <tbody *ngIf="users?.length > 0">
    <tr *ngFor="let user of users;">
        <td class="text-left">{{user.username}}</td>
        <td class="text-left">{{user.name}}</td>
        <td class="text-left">{{user.surname}}</td>
        <td class="text-left">{{user.joinedAt | date:'dd.MM.yyyy.HH:mm:ss'}}</td>
         <td class="text-left">
             <button (click)="editUser(user)" class="btn btn-sm btn-outline-info">Edit</button>
         </td>
    </tr>
    </tbody>
    <tbody *ngIf="users?.length == 0">
    <tr>
        <td class="text-justify" colspan="5">
            <p class="text-muted font-italic text-center">No data</p>
        </td>
    </tr>
    </tbody>
</table>